body {
  font-family: italic normal normal 14px/1.4em georgia,palatino,'book antiqua','palatino linotype',serif;
}

div#forgotPassword\:SiteTemplate\:j_id4 {
  margin-top: 50px;
  margin-bottom: 50px;
}

.title {
  display: inline-block;
  margin-top: 50px;
}

body input[type=submit].btn {
  background: none;
  background-color: rgba(55, 59, 77, 1);
  border: solid transparent 0px;
  border-radius: 0;
  color: rgb(255, 255, 255);
  cursor: pointer !important;
  font-size: 14px;
  height: 50px;
  transition: border-color 0.4s ease 0s, background-color 0.4s ease 0s;
  width: 100px;
}

input[type=submit]:hover {
  background-color: rgba(0, 0, 0);
}

form#forgotPassword\:SiteTemplate\:theForm {
  margin-bottom: 50px;
}