/* globals */

body {
    font-family: italic normal normal 14px/1.4em georgia,palatino,'book antiqua','palatino linotype',serif;
}

table {
    padding: 10px;
}

/* header */

.fc-header {
    background-color: rgb(105, 138, 107);
    border-radius: 2px;
}

.fc-header h2, .fc-header .fc-button {
    margin-top: 1em;
}

.fc-header-left, .fc-header-right {
    text-align: center;
}

.fc td.fc-header-center, .fc td.fc-header-right {
    vertical-align: middle;
}

.fc-button-effect {
    display: none;
}

.fc-button {
    border: none;
    border-radius: 5px;
    margin: 4px;
}

.fc-state-default .fc-button-inner {
    border-radius: 2px;
    border-width: 0px;
}

/* table */

.fc-border-separate {
    min-height: 1000px;
}

.fc-border-separate thead {
    background-color: rgb(105, 138, 107, 0.5);
}

.fc-border-separate td:hover {
    background-color:rgb(105, 138, 107, 0.2);;
}

/* events */

a.fc-event:hover {
    opacity: 0.8;
}

.fc-event-time:after {
    content: '-';
}
