body {
  font-family: italic normal normal 14px/1.4em georgia,palatino,'book antiqua','palatino linotype',serif;
}
  
.cssForm::before {
  background: url('https://static.wixstatic.com/media/9d1679_8b00cb2857404aea83b4be68290820de~mv2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  bottom: 0;
  content: "";
  left: 0;
  opacity: 0.1;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.cssForm {
  padding: 20px;
}

.cssForm table {
  margin: auto;
  width: 80%;
}

.cssForm > table > tbody > tr {
  display: inline-block;
  margin-bottom: 20px;
  width: 50%;
}

.cssForm > table > tbody > tr > td {
  width: 90%;
}

.cssForm > table > tbody > tr:nth-last-of-type(-n+3) {
  text-align: center;
  width: 100%;
}

.cssLabelsColumn {
  display: inline-block;
  font-weight: bold;
  margin: auto;
  vertical-align: center;
}

.cssInputFieldsColumn {
  display: inline-block;
  margin: auto;
  vertical-align: top;
}

.cssInputFields[type=text] {
  background: transparent;
  border: none;
  border-bottom: 1px solid black;
  width: 100%;
}

.cssInputFields[type=text]:hover {
  background: white;
}

.cssForm td table {
  width: 100%;
}

.cssForm td table tr:first-child {
  display: none;
}

.multiSelectPicklistRow {
  width: 100%;
}

.multiSelectPicklistRow td {
  width: 33%;
}

.multiSelectPicklistRow td select {
  width: 100%;
}

.multiSelectPicklistCell {
  text-align: center;
}

textarea[style] {
  width: 70% !important;
}

input[type=button] {
  background-color: rgba(55, 59, 77, 1);
  border: solid transparent 0px;
  border-radius: 0;
  color: rgb(255, 255, 255);
  cursor: pointer !important;
  font-size: 14px;
  height: 75px;
  transition: border-color 0.4s ease 0s, background-color 0.4s ease 0s;
  width: 150px;
}

input[type=button]:hover {
  background-color: rgba(0, 0, 0);
}
