body {
  font-family: italic normal normal 14px/1.4em georgia,palatino,'book antiqua','palatino linotype',serif;
}
  
.cssForm::before {
  content: "";
  background: url('https://static.wixstatic.com/media/9d1679_8b00cb2857404aea83b4be68290820de~mv2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.1;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: -1;
}

.cssForm table {
  width: 90%;
  margin: auto;
}

tr {
  display: inline-block;
  width: 50%;
  margin-bottom: 20px;
}

.cssLabelsColumn {
  font-weight: bold;
  vertical-align: center;
  display: inline-block;
  width: 50%;
  margin: auto;
}

.cssInputFieldsColumn {
  display: inline-block;
  width: 50%;
  margin: auto;
  vertical-align: top;
}

.cssInputFields[type=text] {
  border: none;
  border-bottom: 1px solid black;
  width: 80%;
  background: transparent;
}
